*{ box-sizing: border-box; outline: 1px solid red;}
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, ;
    margin: 10px;
    background: rgb(255, 255, 255);
}
.first-section {
background-color: #1F2937;
}
ul{
    list-style-type: none;
}