*{ box-sizing: border-box; outline: 1px solid red;}
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, ;
    /*margin: 10px;*/
    background: rgb(255, 255, 255);
}
.first-section {
background-color: #1F2937;
color: rgb(255, 255, 255);
font: Helvetica Neue;
padding-bottom: 50px;
}

ul{
    list-style-type: none;
}

.header {
    font-weight: 800;
    font-size: 30px;
}

.signup {
    border: none;
    border-radius: 20px;
    background: #3882F6;
    color: white;
    padding: 8px 15px;
}

.second-section{
    background-color: rgb(255, 255, 255);
}

h2{
    color: #1F2937;
}

.boxes {
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-color: #689df1;
    border-radius: 20%;
    border-style: solid;
    outline: 1px;
}
.fourth-section{
    background-color: rgb(158, 114, 114);
    padding-bottom: 80px;
    padding-top: 80px;
}
.quote{
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
.quote-name{
    font-size: 20px;
    font-weight:bolder;
    display: flex;
    justify-content: center;
}
.call-to-action{
    font-weight: bold;
}
.blue-container{
    background-color: #97acce;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}
.signup-button{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10%;
    color: #ffffff;
    background-color: #3882F6;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer{
    background-color: #1F2937;
color: rgb(255, 255, 255);
font: Helvetica Neue;
display: flex;
justify-content: center;
padding-top: 20px;
padding-bottom: 20px;
}

/*SOLUTION*/
.first-part{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 100px;
    padding-right: 90px;
}
ul{
    display: flex;
}
li{
    padding-right: 10px;
}
.second-part{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
h2{
    display: flex;
    justify-content: center;
}
.boxes-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.boxes-main{
    display: flex;
    justify-content: center;
}
.bc-container{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.description{
    padding-right: 100px;
}
.welcome{
    width: 800px;
}