*{ box-sizing: border-box; outline: 1px solid red;}
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont, ;
    margin: 10px;
    background: rgb(255, 255, 255);
}
.first-section {
background-color: #1F2937;
color: rgb(255, 255, 255);
font: Helvetica Neue;
}

ul{
    list-style-type: none;
}

.header {
    font-weight: 800;
    font-size: 30px;
}

.signup {
    border: none;
    border-radius: 20px;
    background: #3882F6;
    color: white;
    padding: 8px 15px;
}